
    <div *ngIf='oneEvent'>
      <ul>
        <li>Id: {{oneEvent.id}}</li>
        <li>Event Name : {{oneEvent.name}}</li>
        <li>Event Date : {{oneEvent.date}}</li>
        <li>Event Time: {{oneEvent.time}}</li>
        <li>Event Location: {{oneEvent.location}}</li>
        <li>Event Description: {{oneEvent.description}}</li>
        <li>Hosted By: {{oneEvent.event_creator.email}}</li>
        <li><a routerLink="/events/edit/{{oneEvent.id}}">Edit</a></li>
        <li>
          <form (ngSubmit)="deleteEvent(oneEvent)">
          <input type="submit" value="Delete"/>
        </form>
        </li>
    </ul>
    <hr>
  </div>

  <div *ngIf='!oneEvent'>
    Whoops, look like that event doesn't exist.
  </div>
