
    <div class='event-show' *ngIf='oneEvent'>
      <div class='show-this-event'>

        <h2 *ngIf="oneEvent.name">{{oneEvent.name}}</h2>
        <h2 *ngIf="!oneEvent.name">No Event Name Provided</h2>

        <p *ngIf="oneEvent.date"><span>Date:</span> {{oneEvent.date}}</p>
        <p *ngIf="!oneEvent.date"><span>Date:</span> No Date Provided</p>

        <p *ngIf="oneEvent.time"><span>Time:</span> {{oneEvent.time}}</p>
        <p *ngIf="!oneEvent.time"><span>Time:</span> No Time Provided</p>

        <p *ngIf="oneEvent.location"><span>Location:</span> {{oneEvent.location}}</p>
        <p *ngIf="!oneEvent.location"><span>Location:</span> No Location Provided</p>

        <p *ngIf="oneEvent.description">{{oneEvent.description}}</p>
        <p *ngIf="!oneEvent.description">No Description Provided</p>


        <p *ngIf="oneEvent.event_attendees.length"><span>Current Attendees:</span> </p>
          <div *ngFor="let attendee of oneEvent.event_attendees">
            <p class='oneAttendee'>{{attendee.email}}</p>
          </div>

        <app-invitee-new [event_id]="oneEvent.id"></app-invitee-new>

        <a class='edit-event-button' routerLink="/events/edit/{{oneEvent.id}}">
          Edit
        </a>
          <form (ngSubmit)="deleteEvent(oneEvent)">
          <button class='delete-event-button' type="submit">Delete Event</button>
        </form>
    </div>
  </div>

  <div *ngIf='!oneEvent'>
    Whoops, look like that event doesn't exist.
  </div>
