<div class='invitee-index' *ngIf="auth.user">
    <div class='invitee' *ngFor="let invite of allInvites">
      <div class='this-invite'>

        <h2 *ngIf="invite.attended_event.name">{{invite.attended_event.name}}</h2>
        <h2 *ngIf="!invite.attended_event.name">This event does not have a name.</h2>

        <div class='invite-deets'>
          <p *ngIf="invite.attended_event.date"> Date : {{invite.attended_event.date}}</p>
          <p *ngIf="!invite.attended_event.date"> Date: No Date Available</p>

          <p *ngIf="invite.attended_event.time"> Time: {{invite.attended_event.time}}</p>
          <p *ngIf="!invite.attended_event.time"> Time: No Time Available</p>

          <p *ngIf="invite.attended_event.location"> Location: {{invite.attended_event.location}}</p>
          <p *ngIf="!invite.attended_event.location"> Location: No Location Available</p>

          <p class='invitee-desc' *ngIf="invite.attended_event.description"> Description: {{invite.attended_event.description}}</p>
          <p *ngIf="!invite.attended_event.description"> Description: {{invite.attended_event.description}}</p>

        </div>
    </div>

    <a class='view-invite-button' routerLink="/invitees/{{invite.id}}">
      View Invitation
    </a>

  </div>

  <div class='no-invite' *ngIf="!allInvites.length">
    Looks like you don't have any invitations yet.
  </div>

</div>
