.invitee-index {
  text-align: center;
}

.no-invite {
  text-align: center;
  font-size: 20px;
}

.invitee {
  border: none;
  border-radius: 5px;
  width: 400px;
  padding: 5px;
  height: 270px;
  display: inline-block;
  margin: 5px;
  background-color: #fff;
}

.this-invite {
  word-wrap: break-word;
  height: 240px;
  overflow: scroll;
}

.invite-deets {
  overflow: scroll;
  height: 170px;
  padding: 5px;

}

p {
  margin-left: 5px;
  margin-top: 5px;
}

h2 {
  margin: 5px;
}

.invitee a {
  display: inline-block;
  text-decoration: none;
  width: 190px;
  text-align: center;
  margin-top: 5px;
  margin-left: 3px;
  background-color: #F39B71;
  color: #F8EDD4;
  border-radius: 5px;
  height: 25px;
}

.invitee-desc {
  white-space: pre-wrap;
}
