.container-fluid {
  text-align: center;
}

.nav li {
  display: inline-block;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #72585C;
  width: 300px;
  text-align: center;
  font-size: 30px;
  margin: 5px;
  padding-bottom: 10px;
  font-family: 'Nunito';
  color: #F8EDD4;
}
