<div *ngIf="!auth.user" class="container sign-up">
  <input [(ngModel)]="newUser.email" type="text" placeholder="Email" />
  <input [(ngModel)]="newUser.password" type="text" placeholder="Password" />
  <input [(ngModel)]="newUser.password_confirmation" type="text" placeholder="Confirm Password" />
  <input class='sign-in-button' (click)="signUp()" type="submit" value="Sign Up!" />
</div>

<div *ngIf="!auth.user" class="container sign-in">
  <input [(ngModel)]="user.email" type="text" placeholder="Email" />
  <input [(ngModel)]="user.password" type="text" placeholder="Password" />
  <input (click)="signIn()" type="submit" value="Sign in!" />
</div>

<div *ngIf="auth.user" class="container">
  <h3>Change Password</h3>
  <input [(ngModel)]="oldPassword" type="text" placeholder="Old Password" />
  <input [(ngModel)]="newPassword" type="text" placeholder="New Password" />
  <input (click)="changePassword()" type="submit" value="Change Password" />
</div>

<div *ngIf="auth.user" class="container sign-out">
  <input (click)="signOut()" type="submit" value="Sign Out!" />
</div>

<div *ngIf="auth.user" class="container sign-in-msg">You are signed in as <strong>{{auth.user.email}}</strong></div>
