<div *ngIf="!auth.user" class="container sign-up">
  <input [(ngModel)]="newUser.email" type="text" placeholder="Email" />
  <input [(ngModel)]="newUser.password" type="password" placeholder="Password" />
  <input [(ngModel)]="newUser.password_confirmation" type="password" placeholder="Confirm Password" />
  <button class='sign-up-button' (click)="signUp()" type="submit">Sign Up</button>
</div>

<div *ngIf="!auth.user" class="container sign-in">
  <input [(ngModel)]="user.email" type="text" placeholder="Email" />
  <input [(ngModel)]="user.password" type="password" placeholder="Password" />
  <button class='sign-in-button' (click)="signIn()" type="submit">Sign In</button>
</div>

<div *ngIf="auth.user" class="container change-pw">
  <input [(ngModel)]="oldPassword" type="password" placeholder="Old Password" />
  <input [(ngModel)]="newPassword" type="password" placeholder="New Password" />
  <button class='change-pw-button' (click)="changePassword()" type="submit">Change Password</button>
</div>

<div *ngIf="auth.user" class="container sign-out">
  <button class='sign-out-button' (click)="signOut()" type="submit">Sign Out</button>
</div>

<div *ngIf="auth.user" class="container sign-in-msg">You are signed in as <strong>{{auth.user.email}}</strong></div>
