.sign-in {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 18px;
}

.sign-in input {
  width: 230px;
  height: 20px;
  font-size: 15px;
  padding-left: 5px;
}

.sign-in-button {
  width: 230px;
  height: 25px;
  font-size: 15px;
}

.sign-in-msg {
  position: fixed;
  top: 10px;
  right: 20px;
  font-size: 20px;
}

.sign-out {
  position: fixed;
  top: 45px;
  right: 20px;
}

.sign-out-button {
  width: 150px;
  height: 25px;
  font-size: 15px;
}

.sign-up {
  text-align: center;
  width: 300px;
  margin: auto;
}

.sign-up input {
  height: 20px;
  font-size: 15px;
  margin: 3px;
  padding-left: 5px;
  width: 250px;
}

.sign-up-button {
  width: 260px;
  height: 25px;
  font-size: 15px;
}

.change-pw {
  position: fixed;
  top: 10px;
  left: 20px;
}

.change-pw input {
  width: 200px;
  height: 20px;
  font-size: 15px;
  padding-left: 3px;
}

.change-pw-button {
  width: 210px;
  height: 25px;
  font-size: 15px;
}
