.new-event {
  border: 1px solid black;
  margin: auto;
  width: 500px;
  text-align: center;
}

.new-event-form {
  border: 1px solid green;
  /*width: 200px;*/
}

.new-event-form input {
  width: 300px;
  font-size: 18px;
  margin: 2px;
}

textarea {
  width: 300px;
  font-size: 18px;
  resize: none;
  margin-left: 3px;
}

.create-event-button {
  height: 25px;
  font-size: 15px;
  width: 200px;
  margin: 5px;
}
