
<div class='new-event'>

  <h3>Create a New Event</h3>

  <form class='new-event-form' (ngSubmit)="saveEvent(newEvent)">
    <input name="name" [(ngModel)]="newEvent.name" type="text" placeholder="Event Name" />
    <input name="date" [(ngModel)]="newEvent.date" type="text" placeholder="Event Date" />
    <input name="time" [(ngModel)]="newEvent.time" type="textarea" placeholder="Event Time" />
    <textarea name="location" [(ngModel)]="newEvent.location" type="text" placeholder="Event Location" cols="30" rows="3"></textarea>
    <input name="description" [(ngModel)]="newEvent.description" type="text" placeholder="Event Description" />

    <button type="submit"> Create Event </button>
  </form>
</div>
