
<div class='update-event'>

  <h2>Update this Event </h2>

  <form class='update-event-form' (ngSubmit)="updateEvent(updatedEvent)">
    <div>Event Name:</div> <input name="name" [(ngModel)]="updatedEvent.name" type="text" placeholder="Event Name" />
    <div>Date: </div><input name="date" [(ngModel)]="updatedEvent.date" type="text" placeholder="Event Date" />
    <div>Time: </div><input name="time" [(ngModel)]="updatedEvent.time" type="text" placeholder="Event Time" />
    <div>Location : </div><input name="location" [(ngModel)]="updatedEvent.location" type="text" placeholder="Event Location" />
    <div>Description : </div><textarea name="description" [(ngModel)]="updatedEvent.description" type="text" placeholder="Event Description" rows="5"></textarea>

    <button class='update-event-button' type="submit"> Update Event </button>
  </form>
</div>
