.update-event {
  margin: auto;
  width: 410px;
  text-align: center;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.update-event-form input {
  width: 350px;
  font-size: 18px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding-left: 5px;
}

textarea {
  width: 350px;
  font-size: 18px;
  resize: none;
  margin-left: 3px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding-left: 5px;
}

.update-event-button {
  border-radius: 5px;
  border: none;
  height: 25px;
  font-size: 15px;
  width: 250px;
  margin: 5px;
  background-color: #F39B71;
  border: none;
  color: #F8EDD4;
  border-radius: 5px;
}
