<div *ngIf="auth.user">
  <div *ngFor="let event of allEvents">
    <ul>
      <li><a routerLink="/events/{{event.id}}">Id: {{event.id}}</a></li>
      <li>Event Name : {{event.name}}</li>
      <li>Event Date : {{event.date}}</li>
      <li>Event Time: {{event.time}}</li>
      <li>Event Location: {{event.location}}</li>
      <li>Event Description: {{event.description}}</li>
      <li>Hosted By: {{event.event_creator.email}}</li>
      <!-- <div *ngFor="let attendee of event.event_attendees">
        <li>{{attendee.email}}</li>
      </div> -->
      <li><a routerLink="/events/edit/{{event.id}}">Edit</a></li>
    </ul>
    <hr>
  </div>
</div>
