<div class='events-index' *ngIf="auth.user">
  <div class='event' *ngFor="let event of allEvents">
    <div class='this-event'>

      <h2 *ngIf="event.name">{{event.name}}</h2>
      <h2 *ngIf="!event.name">No Event Name Provided</h2>

      <div class='event-deets'>

        <p *ngIf="event.date">Date: {{event.date}}</p>
        <p *ngIf="!event.date">Date: No Event Name Provided</p>

        <p *ngIf="event.time">Time: {{event.time}}</p>
        <p *ngIf="!event.time">Time: No Event Time Provided</p>

        <p *ngIf="event.location">Location: {{event.location}}</p>
        <p *ngIf="!event.location">Location: No Location Provided</p>

      </div>
    </div>
    <a class='view-event-button' routerLink="/events/{{event.id}}">
      View this event
    </a>
    <a class='edit-event-button' routerLink="/events/edit/{{event.id}}">
      Edit this event
    </a>

  </div>

  <div class='no-events' *ngIf="!allEvents.length">
    Looks like you don't have any events yet!
  </div>
</div>
