.app-title {
  font-family: 'Grand Hotel', sans-serif;
  font-size: 80px;
  margin-top: 60px;
}

.flash-msg {
  height: 40px;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
  color: red;
}
