.app-title {
  font-family: 'Grand Hotel', sans-serif;
  font-size: 80px;
  margin-top: 60px;
}

.flash-msg {
  height: 60px;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
  color: #CA4440;
  font-weight: bold;
}
